@font-face {
    font-family: "tk-logo";
    src: url("/assets/font/kenyan_coffee_rg-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "tk-text";
    src: url("/assets/font/hero-webfont.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "tk-text";
}

a {
    text-decoration: none;
}

/* NAV BAR */
.slicknav_menu {
    background: #AAA;
}

.js #menu {
    display: block;
}

.js .slicknav_menu {
    display: none;
}

#mobile-logo {
    margin: 10px auto;
}

#menu { display: none;}

#nav {
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    box-shadow: 0px 1px 20px #bbb;
    background-color: white;
    z-index: 1;
    opacity: 0.9;
}

#nav table {
    margin: 5px auto;
}

#logo {
    padding-right: 60px;
}

.logodiv {
    background: url("/assets/img/logo.png") no-repeat center center;
    width: 184px;
    height: 61px;

}

.logodiv:hover {
    background: url("/assets/img/logo-hover.png") no-repeat center center;
    width: 184px;
    height: 61px;
    cursor:pointer;
}

.logodiv {
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.navitem {
    text-transform: uppercase;
    font-family: tk-text;
    font-size: 25px;
}

.navitem + .navitem {
    padding-left: 30px;
}

.navitem a {
    color: #9E9E9E;
}

.navitem a:hover {
    color: #DEDEDF;
    cursor:pointer;
}

.navitem a {
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

/* VIDEO */
video {
    width: inherit;
    display: none;
}

#mobile-landing {
    background: url('/assets/img/landing-mobile.jpg') no-repeat right center;
    width: 100%;
    height: 320px;
    background-color: black;
    display: block;
    background-size: contain;
    right: 0;
}

#landing-section {
    width: 100%;
    left: 0;
    margin-top: -5px;
}

@media screen and (min-width:1024px) {
    video { display: block; }
    #mobile-landing { display: none;}
    #shop-section #merch-gallery a img { width: 250px;}
    #mobile-nav { display: none; }
    .slicknav_menu {display: none;}
    #nav {display: table;}
    body { padding-top: 80;}
    .anchor {top: -80px;}
}

/* MUSIC */
#music-section {
    width:100%;
    position: relative;
}

#promo {
    padding: 60px;
}

#promo img {
    display: block;
    margin: 0 auto;
}

/* TOUR */
#tour-section {
    background: url('/assets/img/bg-show.jpg') no-repeat center center;
    background-color: black;
    background-size: contain;
    min-height: 600px;
    max-height: 600px;
    width: inherit;
}

#tour-section h1 {
    color: white;
    margin: 0;
}

#tour-section h2, h3 {
    color: white;
}

#tour-section h2 {
    font-size: 25px;
}

#tour-section h2 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

#tour-section h3 {
    font-size: 20px;
    margin-top: 0px;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: tk-logo;
    text-transform: uppercase;
    margin: 0 auto;
}

h2, h3 {
    font-family: tk-text;
}

/* SHOP */
#shop-section {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#shop-section h1 {
    color: black;
}

#merch-gallery {
    margin: 0 auto;
    max-width: 62%;
    text-align: center;
}

#shop-section #merch-gallery a img {
    width: 250px;
    height: auto;
    margin: auto;
    display: inline-block;
}

/* CONTACT */
#contact-section {
    background: url('/assets/img/contact-tile.jpg') repeat center center;
    min-height: 600px;
}

#contact-section table {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    max-width: 640px;
}

#contact-section table tr td + td {
    padding-left: 10px;
}

#contact-section table tr td a img {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#contact-section table tr td a img:hover {
    opacity: 0.2;
}

#mailing-form {
    text-align: center;
}

#mailing-form label, h2, h3 {
    font-family: tk-text;
    color: white;
}

#mailing-form label {
    float: right;
    font-size: 20px;
}

input, textarea {
    border-radius: 5px;
    text-indent: 0.25em;
    border: 1px solid #FFF;
    outline: none;
    resize: none;
    width: 100%;
    float: right;
    padding: 0;
    max-width: 270px;
    font-family: tk-text;
    font-size: 16px;
}

input:focus, textarea:focus {
    box-shadow: inset 0 0 2px 1px #333;
}

input { height: 1.5em; }

textarea { height: 10em;}

#submit-button {
    /*background: url('/assets/img/send-sprite.png') no-repeat 100% 0;*/
    background: url('/assets/img/send-sprite.png') no-repeat;
    width: 57px;
    height: 19px;
    padding: 0;
    border: 0;
    position: relative;
    margin-top:-5px;
    margin-right:3px;
    float: right;
}

#submit-button span {
    background: url('/assets/img/send-sprite.png') no-repeat;
    background-position: 0 -19px;
    top:0;left:0;bottom:0;right:0;
    width: 57px;
    height: 19px;
    position: absolute;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#submit-button:hover {
    cursor: pointer;
}

#submit-button span:hover {
    opacity: 1;
}

.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -47px;
    left: 0;
    visibility: hidden;
}

.section {
    position: relative;
    margin: 0;
    padding: 0;
}
