@font-face {
    font-family: "tk-logo";
    src: url("/assets/font/kenyan_coffee_rg-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "tk-text";
    src: url("/assets/font/hero-webfont.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "tk-text";
    padding-top: 47px;
}

#contact-section a,
#tour-section a {
    text-decoration: none;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#contact-section a:hover,
#tour-section a:hover {
    opacity: 0.5;
}

a {
    text-decoration: none;
}

/* NAV BAR */
.slicknav_menu {
    /*background: #B0B0B0;*/
    background: #fff;
    top: 0;
    position: fixed;
    display: block;
    width: 100%;
    z-index: 9999;
    box-shadow: 0px 2px 20px #bbb;
}

.slicknav_menu ul.slicknav_nav li a { color: black;}

.slicknav_btn { margin-right: 10px;}

.js #menu {
    display: block;
}

.js .slicknav_menu {
    display: none;
}

#mobile-logo {
    margin: 0 auto;
    height: 47px;
    width: 100%;
    background-size: auto 38px;
    position: fixed;
    display: block;
    top: 0;
    right: 0;
}

#menu { display: none;}

#nav {
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: none;
    box-shadow: 0px 1px 20px #bbb;
    background-color: white;
    z-index: 1;
    /*opacity: 0.9;*/
}

#nav table {
    margin: 5px auto;
}

#logo {
    padding-right: 60px;
}

.logodiv {
    background: url("/assets/img/logo.png") no-repeat center center;
    height: 47px;
    width: auto;
}

.logodiv:hover {
    background: url("/assets/img/logo-hover.png") no-repeat center center;
    cursor:pointer;
}

.logodiv {
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.navitem {
    text-transform: uppercase;
    font-family: tk-text;
    font-size: 25px;
}

.navitem + .navitem {
    padding-left: 30px;
}

.navitem a {
    color: #9E9E9E;
}

.navitem a:hover {
    color: #DEDEDF;
    cursor:pointer;
}

.navitem a {
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

/* VIDEO */
video {
    width: inherit;
    display: none;
}

#mobile-landing {
    background: url('/assets/img/landing-mobile.jpg') no-repeat right center;
    width: 100%;
    height: 320px;
    background-color: black;
    display: block;
    background-size: contain;
    right: 0;
}

#title {
    display: table;
    height: 320px;
    width: 72%;
    margin: 0 auto;
}

#mobile-landing #title h2 {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
}

#landing-section {
    width: 100%;
    left: 0;
    margin-top: -5px;
}

@media screen and (min-width:1025px) {
    video { display: block; }
    #mobile-landing { display: none;}
    #shop-section #merch-gallery a img { width: 250px;}
    #mobile-logo { margin: 10px auto; }
    #mobile-nav { display: none; }
    .slicknav_menu {display: none;}
    #nav {display: table;}
    div#music-section div#promo ul li a img { width: 320px;}
    div#shop-section.section div#merch-gallery ul li a img { width: 210px;}
    div#merch-gallery { width:640px;}
    div#promo { width: 678px;}
    body { padding-top: 80px;}
    .anchor {top: -80px;}
    div#contact-section.section table tbody tr td a img { width: 100%; }
    div#contact-section.section table tbody tr td + td { padding-left: 10px; }
    div#contact-section.section form#mailing-form table tbody tr td input,
    div#contact-section.section form#mailing-form table tbody tr td textarea { max-width: 270px;}
    .logodiv { width: 184px; height: 61px; }
}

/* MUSIC */
#music-section {
    width:100%;
    margin: 0 auto;
}



.you-toob {
    width:80%;
    max-width:678px;
    margin: 0 auto; 
}

.vid-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.vid-container iframe, .vid-container object, .vid-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#promo {
    padding-bottom: 30px;
    margin: 8px auto;
    width: 320px;
    text-align:center;
}

#promo ul {
    list-style-type: none;
    display: inline-block;
}

#promo ul li {
    display: inline-block;
    padding:8px;
}

#promo a {
    display: block;
    margin: 0 auto;
}

#promo ul li a img {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#promo a img:hover {
    opacity: 0.4;
}

/* TOUR */
#tour-section {
    background: url('/assets/img/bg-show.jpg') no-repeat center center;
    background-color: black;
    background-size: contain;
    min-height: 600px;
    width: inherit;
}

#tour-section h1 {
    color: white;
    margin: 0;
}

#tour-section h2, h3 {
    color: white;
}

#tour-section h2 {
    font-size: 25px;
}

#tour-section h2 {
    text-transform: uppercase;
    margin-bottom: 3px;
}

#tour-section h3 {
    font-size: 20px;
    margin-top: 3px;
}

#tour-section h4 {
    font-size: 18px;
}

#tour-section h4 a {
    color: white;
}

h1, h2, h3, h4 {
    text-align: center;
}

h1 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: tk-logo;
    text-transform: uppercase;
    margin: 0 auto;
}

h2, h3 {
    font-family: tk-text;
}

/* SHOP */
#shop-section {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#shop-section h1 {
    color: black;
}

#merch-gallery {
    margin: 0 auto;
    padding: 0;
    width: 320px;
    text-align: center;
}

#merch-gallery ul {
    list-style-type: none;
    display: inline-block;
}

#merch-gallery ul li {
    display: inline-block;
}

#shop-section #merch-gallery ul li a img {
    width: 150px;
    height: auto;
    margin: 0;
    display: inline-block;
}

/* CONTACT */
#contact-section {
    background: url('/assets/img/contact-tile.jpg') repeat center center;
    min-height: 600px;
    padding-bottom: 20px;
}

#contact-section table {
    padding-top: 40px;
    padding-bottom: 0px;
    margin: 0 auto;
    max-width: 640px;
}

#contact-section table tr td + td {
    padding-left: 5px;
}

#contact-section table tr td a img {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    width: 37px;
    height: auto;
}

#contact-section table tr td a img:hover {
    opacity: 0.2;
}

#contact-emails {
    color: white;
    padding-bottom: 20px;
}

#contact-emails tbody tr td:first-child {
    text-align: right;
}

#contact-emails tbody tr td a {
    color: white;
}

#mailing-form {
    text-align: center;
}

#mailing-form label, h2, h3 {
    font-family: tk-text;
    color: white;
}

#contact-section h2 { font-size: 16px;}
#contact-section h3 { font-size: 12px;}

#mailing-form label {
    float: right;
    font-size: 12px;
}

input, textarea {
    border-radius: 5px;
    text-indent: 0.25em;
    border: 1px solid #FFF;
    outline: none;
    resize: none;
    width: 100%;
    float: right;
    padding: 0;
    max-width: 200px;
    font-family: tk-text;
    font-size: 16px;
}

input:focus, textarea:focus {
    box-shadow: inset 0 0 2px 1px #333;
}

input { height: 1.5em; }

textarea { height: 10em;}

#submit-button {
    /*background: url('assets/img/send-sprite.png') no-repeat 100% 0;*/
    background: url('/assets/img/send-sprite.png') no-repeat;
    width: 57px;
    height: 19px;
    padding: 0;
    border: 0;
    position: relative;
    margin-top:-2px;
    margin-right:3px;
    float: right;
}

#submit-button span {
    background: url('/assets/img/send-sprite.png') no-repeat;
    background-position: 0 -19px;
    top:0;left:0;bottom:0;right:0;
    width: 57px;
    height: 19px;
    position: absolute;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

#submit-button:hover {
    cursor: pointer;
}

#submit-button span:hover {
    opacity: 1;
}

.anchor {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
    top: -47px;
    left: 0;
    top: 0;
    visibility: hidden;
}

.section {
    position: relative;
    margin: 0;
    padding: 0;
}
