{% extends "index.html" %}

{% block blueimp %}{% endblock %}

{% block navigation %}
{% endblock %}

{% block landing %}
    <div id="landing"></div>
{% endblock %}

{% block music %}
    <div id="music">
        <h1>Full-Length Coming Soon!</h1>
        <div id="promo">
            <img src="/static/img/promo-lp.png">
        </div>
    </div>
{% endblock %}

{% comment %}
{% block tour %}
{% endblock %}
{% endcomment %}

{% block shop %}
{% endblock %}

{% comment %}
{% block contact %}
{% endblock %}
{% endcomment %}
