#instagram-image img {
    width: 300px;
    height: 300px;
}

@font-face {
    font-family: "tk-logo";
    src: url("./fonts/kenyan_coffee_rg-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "tk-font";
    src: url("./fonts/hero-webfont.ttf") format("truetype");
}

body {
    font-size: x-large;
    display: table;
    margin: 0 auto;
    font-family: tk-font;
    color: white;
    text-shadow: 3px 3px #303030;
}

@media (max-width: 1000px) {
    body { font-size: large;}
}

@media (max-width: 500px) {
    body {font-size: medium;}
}

.bg {
    background: url('../img/logo_bg.jpg') no-repeat;
    background-color: #303030;
    background-position: left 0%;
    background-size: 30% auto;
    position: fixed;
    width:100%;
    height:300%;
    top:0;
    left:0;
    z-index: -1;
}

.bg2 {
    background: url('../img/logo_bg.jpg') no-repeat;
    background-position: right 0%;
    background-size: 30% auto;
    position: fixed;
    width:100%;
    height:300%;
    top:0;
    left:0;
    z-index: -1;
}

h1, logo {
    font-size: 4em;
    font-family: tk-logo;
    text-transform: uppercase;
    text-align: center;
    width:100%;
}

h2 {
    font-size: 1.2em;
    font-family: tk-font;
    text-align: center;
    width:100%;
}

.container {
    padding: 1em;
    margin-right: 10em;
    margin-left: 10em;
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;

}

p {
    text-align: justify;
    margin: 50px 230px;
}

/*
.cent {
    padding: 10px;
}
*/

#nav {
    padding:0;
    margin:auto;
    text-align: center;
    width: 100%;
    list-style: none;
    display: inline-block;
}

#nav li {
    list-style: none;
    display: inline-block;
}

#nav li + li:before{
    content: " | ";
    padding: 0 5px;
}

#nav ul {
    margin-left: 0px !important;
    text-align: center;
    font-family: tk-logo;
    text-transform: uppercase;
    font-size: 2em;
    left:50%;
    -webkit-padding-start: 0px !important;
}

#nav a {
    text-decoration: none;
    color: white;
}

#nav a:hover {
    color: #777;
}

iframe {
    display: block;
}
