body {
    margin: 0 auto !important;
}

@font-face {
    font-family: "tk-logo";
    src: url("./fonts/kenyan_coffee_rg-webfont.ttf") format("truetype");
}

@font-face {
    font-family: "tk-font";
    src: url("./fonts/hero-webfont.ttf") format("truetype");
}

#header {
    width: 1024px;
    background-color:#fff;
    color: #bbb;
    display: block;
    margin: 0 auto;
    text-align: center;
    left: 50%;
}

#header .tk-logo {
    top: 0;
    width: 220px;
    height: 100px;
    background: url('../img/Assets/Icon Sprites-01.png') no-repeat;
    position: relative;
    float: left;
}

.center {
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}

#header .top-nav {
    display: inline-block;
    width: auto;
    position: relative;
    float: right;
    margin-right: 10px;
}

#header .top-nav ul {
    text-transform: uppercase;
    font-family: tk-font;
    font-size: 2em;
}

#header .top-nav ul li {
    list-style: none;
    display: inline-block;
}

#header .top-nav ul li + li:before {
    content: " | ";
    padding: 0 5px;
}

a {
    text-decoration: none;
    color: #bbb;
}
