{% extends "base.html" %}

{% block content %}
<!-- Navigation -->
<div id="nav">
    <table><tbody>
        <tr>
            <td id="logo">
                <a onClick="navScroll('#landing');">
                    <div id="logodiv"></div>
                </a>
            </td>
            {% for item in top_nav %}
            <td class="navitem">
                <a onClick="navScroll('#{{item}}');">{{item}}</a>
            </td>
            {% endfor %}
        </tr>
    </tbody></table>
</div>

<!-- Landing -->
<div id="landing">
    <video autoplay>
        <source src="/static/vid/landing-comp.mp4" type="video/mp4">
        <object data="/static/vid/landing-comp.mp4">
            <embed src="/static/vid/landing-comp.mp4">
            </object>
        </video>
    </div>

<!-- Music -->
<div id="music">
    <div id="promo">
        <img src="/static/img/promo-lp.png" alt="Time King LP Coming Soon!">
    </div>
</div>

<!-- Tour -->
<div id="tour">
    <h1>Show Dates</h1>

    {% if show_dates %}
        {% for show in show_dates %}
        <h2 id="show-date">
            {{show.date}}
        </h2>
        <h3>
            {{show.venue}}<br>
            {{show.city}}<br>
            {{show.time}}
        </h3>
        {% endfor %}
        {% else %}
        <h3>No shows at the moment.<br>Check back later!</h3>
    {% endif %}
</div>

<!-- Shop -->
<div id="shop">
    <h1>Online Store Coming Soon!</h1>

    <div id="merch-gallery">
        {% for item in merch %}
        <a href="{{item.href}}" title="{{item.alt}}">
            <img src="{{item.href}}" alt="{{item.alt}}">
        </a>
        {% endfor %}
    </div>
</div>

<!-- Contact -->
<div id="contact">

    <!-- Social Sprites -->
    <table><tbody>
        <tr>
            {% for sprite in social_sprites %}
            <td>
                <a href="{{sprite.href}}">
                    <img src="{{sprite.src}}" alt="{{sprite.alt}}">
                </a>
            </td>
            {% endfor %}
        </tr>
    </tbody></table>

    <!-- Mailing Form -->
    <h2>Time King Mailing List</h2>
    <h3>Stay up to date with the latest TK news!</h3>
    <form id="mailing-form" action="https://docs.google.com/forms/d/1YqR5narHyBcg3oHBBeU0e5hL2fhLapu0D16DZZXx3yI/formResponse" method="post">
        <table>
            <tbody>
            <tr>
                <td valign="top">
                    <label for="First Name">First Name</label>
                </td><td>
                    <input type="text" name="entry.695556560" id="first-name" size="50"/>
                </td>
            </tr><tr>
                <td valign="top">
                    <label for="Last Name">Last Name</label>
                </td><td>
                    <input type="text" name="entry.1183487257" id="last-name" size="50"/>
                </td>
            </tr><tr>
                <td valign="top">
                    <label for="Email">Email</label>
                </td><td>
                    <input type="text" name="entry.2085277629" id="email" size="50"/>
                </td>
            </tr><tr>
                <td valign="top">
                    <label for="Phone Number">Phone Number</label>
                </td><td>
                    <input type="text" name="entry.1914038827" id="phone-number" size="50"/>
                </td>
            </tr><tr>
                <td valign="top">
                    <label for="Comments">Comments</label>
                </td><td>
                    <textarea name="entry.1740703950" id="comment"></textarea>
                </td>
            </tr><tr>
                <td></td>
                <td valign="top">
                    <button type="submit" id="submit-button"><span></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

</div>

{% endblock %}
