<!-- Base template -->

<!DOCTYPE html>
<html lang="en">
<head>
<title>Time King</title>

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href="{{ url_for('static', filename='css/override2.css') }}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/blueimp-gallery.min.css') }}">

</head>

<body>

<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

{% block content %}
{% endblock %}

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/static/js/blueimp-gallery.min.js"></script>

<script>
document.getElementById('merch-gallery').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>

<script>
/**
 * Check a href for an anchor. If exists, and in document, scroll to it.
 * If href argument ommited, assumes context (this) is HTML Element,
 * which will be the case when invoked by jQuery after an event
 */
function scroll_if_anchor(href) {
    href = typeof(href) == "string" ? href : $(this).attr("href");

    // You could easily calculate this dynamically if you prefer
    var fromTop = 80;

    // If our Href points to a valid, non-empty anchor, and is on the same page (e.g. #foo)
    // Legacy jQuery and IE7 may have issues: http://stackoverflow.com/q/1593174
    if(href.indexOf("#") == 0) {
        var $target = $(href);

        // Older browser without pushState might flicker here, as they momentarily
        // jump to the wrong position (IE < 10)
        if($target.length) {
            $('html, body').animate({ scrollTop: $target.offset().top - fromTop });
            if(history && "pushState" in history) {
                history.pushState({}, document.title, window.location.pathname + href);
                return false;
            }
        }
    }
}
// When our page loads, check to see if it contains and anchor
scroll_if_anchor(window.location.hash);

// Intercept all anchor clicks
$("body").on("click", "a", scroll_if_anchor);
</script>

<!--
<script type="text/javascript">
/**
    var frm = $('#mailing-form');

    frm.submit(function (ev) {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: {
                'entry.695556560': $('#first-name').val(),
                'entry.1183487257': $('#last-name').val(),
                'entry.2085277629': $('#email').val(),
                'entry.1914038827': $('#phone-number').val(),
                'entry.1740703950': $('#comment').val()
            },
            success: function (data) {
            alert('ok');
            }
        });

        ev.preventDefault();
    });
*/
</script>
-->

</body>
</html>


