<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./static/css/base.css">
    </head>
    <body>
        {% for post in posts %}
        <div id="instagram-post">
            <div class="instagram-image">
                <img src="{{ post.image  }}" />
            </div>
        </div>
            <div class="instagram-caption">
                {{ post.caption }}
            </div>
        {% endfor %}
    </body>
</html>
{% endautoescape %}
